@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #141414;
  }
  .dark {
    --background: #141414;
    --foreground: #ffffff;
  }
}
